[project]
	description = maven_quick start guide
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/learndevops007
[access "refs/for/refs/*"]
	read = group user/learndevops007
	push = group user/learndevops007
	label-Code-Review = -2..+2 group user/learndevops007
	label-Verified = -1..+1 group user/learndevops007
	rebase = group user/learndevops007
	removeReviewer = group user/learndevops007
	submit = group user/learndevops007
[access "refs/heads/*"]
	read = group user/learndevops007
	create = group user/learndevops007
	push = +force group user/learndevops007
	pushMerge = group user/learndevops007
[access "refs/tags/*"]
	push = +force group user/learndevops007
	pushTag = group user/learndevops007
	pushSignedTag = group user/learndevops007
